<div class="foot">
    <div class="logo">
        <img src="././assets/img/fancy.png" width="75px" height="75px">
    </div>
    <div class="logoText">
        <p>Living, learning, enjoying, & leveling up one day at a time.</p>
    </div>
    <div class="social-icons">
        <div class="icon1">
            <i class="fa fa-apple" style="font-size:24px"></i>
            <i class="fa fa-github-alt" style="font-size:24px"></i>
            <i class="fa fa-instagram" style="font-size:24px"></i>
            <i class="fa fa-linkedin" style="font-size:24px"></i>
            <i class="fa fa-soundcloud" style="font-size:24px"></i>
            <i class="fa fa-steam" style="font-size:24px"></i>
        </div>
        <div class="final">
            <span>Ripped by Melroy Rodrigues &copy;</span>
    </div>