.foot {
    height: 350px;
    background-color: #7510f7;
    text-align: center;
    color: white;
}
.social-icons {
    color: white;
}
i {
    padding-right: 20px;
}
.logo {
    padding-top: 50px;
    padding-bottom: 30px;
}
.logoText {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    font-family: "Rowdies", cursive;
}
.final {
    padding-top: 25px;
    font-family: "Crimson Text", serif;
}
@media only screen and (min-width: 414px) and (max-width: 600px) {
    .logoText {
        font-size: 5px;
    }
    .foot{
        height: fit-content;
    }
    .social-icons{
        padding-top: 15px;
    }
}
