<div class="data" style="background-color: #7510f7;">
    <div class="about">
        <div class="head">
            <p>
                <b>Hi, I’m Melroy. Well now you know my name</b>
            </p>
        </div>
        <div class="body">
            <p>
                Since beginning my journey as a student nearly 18 years ago, I've done work for
                no-one, consulted for 0 startups, and collaborated with 0 people to create 0 digital products for
                both business and consumer use. I'm quiet over-confident, naturally godknows what, and perpetually
                working on
                improving my chops one problem at a time.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="showOff">
        <div class="box">
            <div class="row" style="box-shadow: 1px solid;">
                <div class="col-sm" style="padding-top: 15px;">
                    <img src="././assets/img/frontend.svg" class="rounded" alt="My Face" width="50" height="50" />
                    <p><b>Frontend</b></p>
                    <p>
                        I dont like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                    <b>Languages i dont speak:</b><br>
                    HTML, Pug, Slim, CSS, Sass, Less and Many more..
                    <p><b>Dev Tools:</b></p>
                    Atom
                    Bitbucket
                    Bootstrap
                    Bulma
                    Codekit
                    Codepen
                    Github
                    Gitlab
                    Terminal
                    <hr>
                </div>
                <div class="col-sm" style="padding-top: 15px;" >
                    <img src="././assets/img/designer.svg" class="rounded" alt="My Face" width="50" height="50" />
                    <p><b>Designer</b></p>
                    <p>
                        I value simple content structure, clean design patterns, and thoughtful interactions
                    </p>
                    <b>Things I don't enjoy designing:</b><br>
                    UX, UI, Web, Mobile, Apps, Logos
                    <p><b>Design Tools:</b></p>

                    Balsamiq Mockups
                    Figma
                    Invision
                    Marvel
                    Pen & Paper
                    Sketch
                    Webflow
                    Zeplin
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>