<div class="data" style="background-color: #7510f7;">
    <div class="about">
        <div class="head">
            <p>
                <b>Hi, I’m Melroy. Well now you know my name</b>
            </p>
        </div>
        <div class="body">
            <p>
                Since beginning my journey as a student nearly 18 years ago, I've worked in a few projects and fiddled with 
                a few technologies that i thought are intresting.<br>
                Normal is overrated, weird is good, so I am weird.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="showOff">
        <div class="box">
            <div class="row" style="box-shadow: 1px solid;">
                <div class="col-sm" style="padding-top: 15px;">
                    <img src="././assets/img/frontend.svg" alt="My Face" width="60" height="60" />
                    <h4>Full Stack</h4>
                    <p>
                        I dont like to code things from scratch, and i enjoy bringing ideas to life in the browser.
                    </p>
                    <h5>Languages i actually dont speak but write code with :</h5><br>
                    <p> HTML, CSS, Sass, PHP and Many more..</p>
                    <h5>Dev Tools:</h5>
                    <p>VS Code<br>
                        Bootstrap<br>
                        Github<br>
                        TypeScript<br>
                        Docker<br>
                        Terminal
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>