.about {
    margin-top: -80px;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}
.about .head {
    padding-top: 70px;
    font-size: 32px;
}
.head {
    padding-top: 15px;
}

.about .body {
    padding-top: 5px;
    font-size: 18px;
}
.body {
    padding-left: 90px;
    padding-right: 90px;
}
.showOff {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
}
.box {
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 10px;
    background-color: white;
    color: black;
}
.row {
    margin-top: -90px;
    padding: 35px;
}
@media only screen and (min-width: 1024px) {
.data{
height:350px
}
}
@media only screen and (min-width: 414px) and (max-width: 600px) {
.data{
    height:650px;
}
}
