<div class="data" style="background-color: #7510f7;">
    <div class="about">
        <div class="head">
            <p>
                <b>Hi, I’m Melroy. Well now you know my name</b>
            </p>
        </div>
        <div class="body">
            <p>
                Since beginning my journey as a student nearly 18 years ago, I've done work for
                no-one, consulted for 0 startups, and collaborated with 0 people to create 0 digital products for
                both business and consumer use. I'm quiet over-confident, naturally godknows what, and perpetually
                working on
                improving my chops one problem at a time.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="showOff">
        <div class="box">
            <div class="row" style="box-shadow: 1px solid;">
                <div class="col-sm" style="padding-top: 15px;">
                    <img src="././assets/img/frontend.svg" alt="My Face" width="60" height="60" />
                    <h4>Frontend</h4>
                    <p>
                        I dont like to code things from scratch, and enjoy bringing ideas to life in the browser.
                    </p>
                    <h5>Languages i dont speak:</h5><br>
                    <p> HTML, Pug, Slim, CSS, Sass, Less and Many more..</p>
                    <h5>Dev Tools:</h5>
                    <p>Atom
                        Bitbucket
                        Bootstrap
                        Bulma
                        Codekit
                        Codepen
                        Github
                        Gitlab
                        Terminal
                    </p>
                    <hr>
                </div>
                <div class="col-sm" style="padding-top: 15px;">
                    <img src="././assets/img/designer.svg" alt="My Face" width="60" height="60" />
                    <h4>Designer</h4>
                    <p>
                        I value simple content structure, clean design patterns, and thoughtful interactions
                    </p>
                    <h5>Things I don't enjoy designing:</h5><br>
                    <p>UX, UI, Web, Mobile, Apps, Logos</p>
                    <h5>Design Tools:</h5>
                    <p>
                        Balsamiq Mockups
                        Figma
                        Invision
                        Marvel
                        Pen & Paper
                        Sketch
                        Webflow
                        Zeplin</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>