<hr>
<div class="main">
    <div class="container">
        <div class="head">
            <p>
                <b>
                    My lame Startup Projects
                </b>
            </p>
        </div>
        <div class="body">
            <p>
                I'm a bit of a digital product junky lol. Over the years, I've used 0's of web and mobile apps in
                different
                industries and verticals. Eventually, I decided that it would be a no fun challenge to try designing and
                building my own.
            </p>
        </div>
    </div>
</div>