<div class="main">
    <div class="container">
        <div class="heads">
            <p>
                <b>
                    My lame Startup Projects
                </b>
            </p>
        </div>
        <div class="bodys">
            <p>
                I'm a bit of a digital product junky lol. Over the years, I've used 0's of web and mobile apps in
                different
                industries and verticals. Eventually, I decided that it would be a no fun challenge to try designing and
                building my own.
            </p>
        </div>

    </div>
</div>
<div class="mains" id="new">
    <div class="projects">
        <div class="row">
            <div class="col-lg-4" style="padding-bottom: 20px;">
                <figure class="figure">
                    <img src="././assets/img/kybercore.svg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>Next level plug and play chassis systems for custom do-it-yourself lightsaber builds.</p>
                    <span>Not Actually In Developement</span>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure">
                    <img src="././assets/img/houston.svg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>Simple feedback and engagement tools for teams that want to build and ship winning products</p>
                    <span>Not Actually In Developement</span>
                </figure>
            </div>
            <div class="col-lg-4 ">
                <figure class="figure">
                    <img src="././assets/img/basin.svg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>A powerful, easy-to-configure form backend for designers and developers. No coding required</p>
                    <span><a href="#">www.useusebasin.com</a></span>
                </figure>
            </div>

            <div class="col-sm-4">
                <figure class="figure">
                    <img src="././assets/img/ylbuilders.svg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>Beautifully simple websites for independent distributors of Young Living Essential Oils.</p>
                    <span><a href="#">www.ylbuilders.com</a></span>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure">
                    <img src="././assets/img/userforge.svg" class=" figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>A collaborative tool for creating simple, effective user personas for design projects.</p>
                    <span><a href="#">www.usergorge.com</a></span>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure">
                    <img src="././assets/img/dovetail.svg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <p>A space and member management solution for coworking communities both big and small.</p>
                    <span>Never Survived</span>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="check">
    <div class="head">
        <p><b>Interested in collaborating or investing? Think Again</b></p>
    </div>
    <div class="body">
        <p>I’m always open to discussing product design work or partnership opportunities.</p>
    </div>
    <div class="button">
        <button type="button" class="btn btn-outline-primary btn-lg"
            style="border-radius: 25px; border-color: blue;">Don't start a conversation</button>
    </div>
</div>
<hr>