.head{
    padding-top:130px;
    text-align: center;
    font-size: 27px;
    color: black;
    padding-bottom: 60px;
}
.body{
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
}
@media only screen and (min-width: 414px) and (max-width: 600px) {
    .head{
   margin-top: -90px;
    } 
}