<hr>
<div class="container" style="height: 100%;">
    <div class="head">
        <p>
            <b>I'm very proud to have not having collaborated with companies:</b>
        </p>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/briteweb.svg" alt="">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/goodkind.svg" alt="">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/redstamp.svg" alt="">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/domain7.svg" alt="">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/designlab.png" alt="" width="235px" height="80px">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/chronicled.svg" alt="">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/bldrs.png" alt="" width="235px" height="80px">
            </div>
            <div class="col-lg-3 col-sm-9">
                <img src="././assets/img/serpmetrics.svg" alt="">
            </div>
        </div>
    </div>
</div>