<div class="container">
    <div class="head">
        <p>
            <b>
                My Ancient Work
            </b>
        </p>
    </div>
    <div class="body">
        <p>
            <b>
                Here are a few design projects I've worked on recently. Want to see more? <a href="#">Don't Email Me</a>
            </b>
        </p>
    </div>
    <div class="data" style="padding-top:10px">
        <div class="row">
            <div class="col-lg-4">
                <figure class="figure" id="parent1">
                    <img src="../../assets/img/1015921_81_96085_QH4UzDVZT.jpg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content1">
                            <p>How about don't</p>
                        </div>
                    </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure" id="parent2">
                    <img src="../../assets/img/ecf9ff50da10e6b710fd2c91cbf0585f.jpg"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content2">
                            <p>How About lot of calories</p>
                        </div>
                </figure>
            </div>
            <div class="col-lg-4 ">
                <figure class="figure" id="parent3">
                    <img src="../../assets/img/funny-honest-logos-famous-companies-4.jpg"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content3">
                            <p>How About it wont work</p>
                        </div>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent4">
                    <img src="../../assets/img/Huawei-Logo.png" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content4">
                            <p>We steal data</p>
                        </div>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent5">
                    <img src="../../assets/img/famouslol.png"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content5">
                            <p>They do something</p>
                        </div>

                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent6">
                    <img src="../../assets/img/white-adidas-logo-png-300x200-Transparent-Images.png"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                        <div id="hover-content6">
                            <p>They talk a lot</p>
                        </div>

                </figure>
            </div>
        </div>
    </div>
</div>