<div class="container">
    <div class="head">
        <h2>
            My Ancient Work
        </h2>
    </div>
    <div class="body">
        <h3>
            Here are a few design projects I've worked on recently. Want to see more? <a href="mailto:melroy27@hotmail.com">Don't Email Me</a>
        </h3>
    </div>
    <div class="data" style="padding-top:20px">
        <div class="row">
            <div class="col-lg-4">
                <figure class="figure" id="parent1">
                    <img src="././assets/img/1015921_81_96085_QH4UzDVZT.jpg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content1">
                    </div>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure" id="parent2">
                    <img src="././assets/img/ecf9ff50da10e6b710fd2c91cbf0585f.jpg" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content2">
                    </div>
                </figure>
            </div>
            <div class="col-lg-4 ">
                <figure class="figure" id="parent3">
                    <img src="././assets/img/funny-honest-logos-famous-companies-4.jpg"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content3">
                    </div>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent4">
                    <img src="././assets/img/Huawei-Logo.png" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content4">
                    </div>
                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent5">
                    <img src="././assets/img/starbucks.png" class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content5">
                    </div>

                </figure>
            </div>
            <div class="col-sm-4">
                <figure class="figure" id="parent6">
                    <img src="././assets/img/white-adidas-logo-png-300x200-Transparent-Images.png"
                        class="figure-img img-fluid rounded"
                        alt="A generic square placeholder image with rounded corners in a figure.">
                    <div id="hover-content6">
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>