.container .head {
    padding-top: 50px;
    text-align: center;
    font-family: 'Rowdies', cursive;
    font-size: 40px;
}
.container .body {
    font-size: 30px;
    padding-top: 17px;
    text-align: center;
    font-family: 'Crimson Text', serif;
}

.figure p{
    text-align: center;
}