<div class="container">
    <div class="whoami">
        <h1>Designer, Front-end Developer & A Cool Guy</h1>
    </div>
    <div class="whoamimini">
        <h5>
            I design and code not so beautiful simple things, and I love what I do.
        </h5>
    </div>
    <div class="whoamiface">
        <img src="././assets/img/rowan-atkinson-aphoto-by-antonio-zugaldia-cc-by-2-0.webp" alt="My Face" width="200"
            height="200" />
    </div>
    <div class="randomimg">
        <img src="././assets/img/hero.svg" alt="randomimg" />
    </div>
</div>