.head {
    font-size: 27px;
    text-align: center;
}
.data {
    text-align: center;
    padding-bottom: 20px;
}
.carousel-inner {
    text-align: center;
}
.carouselss img {
    padding-bottom: 15px;
}
.carousel-item {
    color: black;
}
.carousel-control-prev-icon {
    background-color: wheat;
}
.carousel-control-next-icon {
    background-color: wheat;
}
.carouselss{
    padding-bottom: 150px;
}
.addon {
    height: 140px;
    position: relative;
    z-index: -1;
    text-align: center;
    background-color: #7510f7;
    color: #7510f7;
}
.box {
    width: 100%;
    margin-top: -220px;
    text-align: center;
    position: relative;
    padding-top: 10px;
    border-radius: 5px;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    color: white;
    padding-bottom: 20px;
}
.button {
    text-align: center;
}
